<!DOCTYPE html>
<html>

  <head>
    <title>Thermostat</title>
    <link rel="stylesheet" type="text/css" href="thermostat.css" >
  </head>
  <body>
    <div id="background1">
    <center><section>
      <h1>Current temperature: <p id="temperature"> <%=@temperature%> </p> </h1>
       <div class="courier">
         <h1>Outside Temp: <span id="current-temperature"></span></h1>
         <select id="current-city">
    <option value="london">London</option>
    <option value="new+york">New York</option>
    <option value="paris">Paris</option>
    <option value="tokyo">Tokyo</option>
  </select>
<div class = 'style_btn'>

        <br><button id="temp-up">+</button>
        <button id="temp-down">-</button>
        <div>
        <br><font  id='sav-mod' color='lavender'>Power Saving Mode is: </font> <span id="power-saving-status"> <%= @powerSavingMode %> </span>
        <br><div class="tooltip"><button class="button button3" id="psm-on">PSM on </button><span  class="tooltiptext">Saving the planet bro!</span>
        </div>
        <div class="tooltip"><button class="button button4" id="psm-off">PSM off</button><span  class="tooltiptext">Why do you hate the planet?!</span></div>
        <br><button class="button button5" id="temp-reset">reset</button>
      </div>
    </section>
  </div>

    <script src="thermostat.js"></script>
    <script src="jquery.js"></script>
    <script src="interface.js"></script>

  </body>
</html>
